.PropertyWindow1 {
    width: calc(100% - 20px);
    min-height: 20px;
    border-radius: 10px;
    background: linear-gradient(15deg, rgb(0, 70, 190), rgb(10, 98, 250));
    padding: 10px;
    margin-bottom: 10px;

    .top {
        display: flex;

        .left {
            width: 150px;
            height: 100%;

            .image {
                width: 100%;
                aspect-ratio: 1/1;
                border: 1px solid black;
                border-radius: 5px;
                background-color: rgb(0, 31, 84);
            }
        }

        .right {
            width: calc(100% - 155px);
            height: calc(100% - 2.5px);
            margin: 2.5px 5px;

            p.text {
                margin: 0;
            }

            .propertyBase {
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                height: 100%;

                .property {
                    width: calc(50% - 10px);
                    height: 60px;
                    margin: 5px;

                    .name {
                        width: 100%;
                        height: 18px;
                        font-size: 13px;
                    }

                    .textbox {
                        width: 100%;
                        height: 40px;
                        margin-top: 2px;
                        background: white;
                        border-radius: 5px;
                        overflow: hidden;
                    }

                    input {
                        width: calc(100% - 10px);
                        height: 100%;
                        padding: 0 5px;
                        margin: 0;
                        border: 0;
                        outline: 0;
                    }

                    .textboxs {
                        display: flex;

                        .textbox {
                            width: 100%;
                            height: 40px;
                            margin-top: 0;
                            background: none;
                            border-radius: 0;

                            .subname {
                                width: 100%;
                                height: 15px;
                                font-size: 10px;
                            }

                            .body {
                                width: 100%;
                                height: 25px;
                                margin-top: 2px;
                                background: white;
                                border-radius: 5px;
                                overflow: hidden;
                            }
                        }

                        .space {
                            display: flex;
                            align-items: center;
                            width: 15px;
                            height: 40px;
                        }
                    }
                }
            }
        }
    }

    .bottom {
        div.text {
            margin: 0;
            font-size: 10px;
            color: rgb(182, 182, 182);

            div#UUID {
                display: inline;
            }
        }

        .buttons {
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row-reverse;
            width: 100%;
            height: 30px;

            .button {
                display: flex;
                align-items: center;
                min-width: 10px;
                height: 100%;
                padding: 0 5px;
                margin-left: 10px;
                border-radius: 5px;
                color: black;
                font-size: 13px;
                background: white;
            }
        }
    }
}



.albumcreate {
    display: flex;
    justify-content: center;

    .text {
        margin: 0;
    }
}

.musicgroupcreate {
    display: flex;
    justify-content: center;

    .text {
        margin: 0;
    }
}